<div class="content">
  <h2 class="heading">Artikel</h2>
  <div id="newArticle">
    <button type="button" class="btn btn-default" ng-click="createArticle()">Neuer Artikel</button>
  </div>
  <div id="search">
    <input type="text" ng-model="search" placeholder="Nach Artikel suchen"/>
  </div>
  <div id="sort">
    <button class="sortButton" ng-click="order = 'name'">Nach Name sortieren</button>
    <button class="sortButton" ng-click="order = 'category'">Nach Kategorie sortieren</button>
  </div>


  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Preis</th>
        <th class="hidden-xs">Kategorie</th>
        <th class="hidden-xs">Anzahl</th>
        <th>Bearbeiten</th>
        <th>Löschen</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="article in inventory | orderBy: order | filter: search" ng-show="article.quantity">
        <td><img class="article-imgs" ng-src="{{article.thumb}}" ng-show="article.thumb"/>{{article.name}}</td>
        <td>{{article.price | currency: '€'}}</td>
        <td class="hidden-xs"><span class="category">{{article.category}}</span></td>
        <td class="hidden-xs"><span class="quantity">{{article.quantity}}</span></td>
        <td><div class="edit" ng-click="editArticle('lg', article)"><i class="fa fa-edit fa-lg"></i></div></td>
        <td><div class="remove" ng-click="removeArticle(article)"><i class="fa fa-close fa-lg"></i></div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ui-view></div>

</div>
