<head>
  <link href="content/css/stylesWebsite.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
<div id="menu-bar">
  <h1 id="logo-text">GUTE &nbsp &nbsp MINE</h1>
  <nav>
  <ul>
    <li><a ui-sref="">Geschenke</a></li>
    <li><a ui-sref="">Zubehör</a></li>
    <li><a ui-sref="">Technik</a></li>
    <li><a ui-sref="">Stifte</a></li>
    <li><a ui-sref="public.site.papier">Papier</a></li>
    <li><a ui-sref="">Neu</a></li>
  </ul>
  <nav>
</div>
<div ui-view>

</div>
