<div ng-controller="CollapseController">
	<nav id="bootstrapOverride" class="navbar navbar-default" role="navigation">
    <img class="hidden-xs" src="content/img/logoGM.png" width="304" height="236" alt="Gute Mine logo">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
    <a class="navbar-brand" href="#">
      <img class="visible-xs" src="content/img/logoGM.png" width="210" height="60" alt="">
   </a>
 </div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav">
				<li><a ui-sref="">Neu</a></li>
				<li><a ui-sref="">Papier</a></li>
        <li><a ui-sref="">Stifte</a></li>
        <li><a ui-sref="">Technik</a></li>
        <li><a ui-sref="">Zubehör</a></li>
        <li><a ui-sref="">Geschenke</a></li>
        <li class="divider"></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span> Suche</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Warenkorb</a></li>
			</ul>
		</div>
	</nav>
</div>
<div ui-view>

</div>
<div class="footer">
    <div class="footer-left">
        <div ng-controller="MapController">
            <div id="map">

            </div>
        </div>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Jungstr. 12</span> Berlin, Deutschland</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p> 030 578 666 43</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> office@gutemine.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <div>
            <a href="#">Bezahlung</a>
            <a href="#">Versand & Lieferung</a>
            <a href="#">Stornierung & Umtausch</a>
        </div>
        <div>
            <a href="#">Hilfe</a>
            <a ui-sref="public.site.contact">Kontakt</a>
            <a href="#">AGB</a>
            <a href="#">Impressum</a>
            <a ui-sref="public.site.privacy">Datenschutz</a>
        </div>
        <div class="icons">
            <p class="name"> Gute Mine &copy; 2016</p>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>