body{
    font-family: 'Lato', sans-serif;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.content-section {
    padding: 5%;
}

.container-fluid {
    padding: 0;
}

#bootstrapOverride {
    /*background-image: url(https://daks2k3a4ib2z.cloudfront.net/57289665989457a16b40023a/57289665989457a16b400261_noise.png);*/
    background-color: white;
    /*border-top: 2px dashed black;*/
    border-bottom: 2px dashed black;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

#bootstrapOverride li a:hover {
    color: #cc9900;
}

#bootstrapOverride li a {
    color: black;
    letter-spacing: 2px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-collapse.in {
    overflow-y: hidden;
    display: inline-block;
    width: 100%;
    max-height: 300px;
}

.navbar-brand {
    height: auto;
    padding: 0 0 0 5px;
}

#logoBig {
    display: block;
    margin: -20px auto;
    margin-bottom: -30px;
    width: 40%;
    max-width: 100%;
    height:auto;
    cursor: pointer;
}

.menuIconsXL {
    position: relative;
    bottom: 2px;
}

#menuIconsXS {
    position: relative;
    top: 4px;
}

/* dropdown */

.navbar-nav {
    margin: 0;
    font-size: 18px;
}

.navbar-nav li{
    position: static;
    margin: 18px 12px;
}

.navbar-nav li a{
    padding: 10px 0;

}

.dropdown-menu{
    width: 100% !important;
}

.dropdown-img{
    width: 155px;
    height:195px;
}

.dd-list-item-container li a:hover{
    text-decoration: none;
}

form.navbar-form {
    width:100%;
}

div.form-group{
    width: 100%;
}

#search-input{
    width: 89%;
    box-shadow: none;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #000000;
}

#search-input:focus{
    border-color: #cc9900;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

button.btn.btn-default{
    border: 1.5px solid;
    margin-left: 2%;
    width: 100px;
    border-radius: 0;
    background-color: black;
    color: white;
}

button.btn.btn-default:hover{
    background-color: white;
    color: #cc9900;
    border-color: #cc9900;
}

/* startpage */

div.startpage-content.container-fluid{
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 1.5px solid;
    text-align: center;
}

div.startpage-content a.btn.btn-default {
    width: 15%;
    border-radius: 0px;
    border-color: black;
    color: white;
    background-color: black;
}
div.startpage-content a.btn.btn-default:hover{
    border-color: #cc9900;
    color: #cc9900;
    background-color: white;
}

div.content-img div{
    padding: 0px;
}

div.content-img div img{
    width: 60%;
}

/*Lichterkette*/

#wire{
    text-align: center;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    width: 100%;
    top: -90px;
    border-bottom: 3px solid #222;
    height: 100px;
    display: none;
 }

 #wire li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 15px;
    top: 102px;
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    animation-name: even-flash;
}

 #wire li:nth-child(odd){
     animation-name: odd-flash;
 }

#wire li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 4px;
    top: -5px;
    left: 0px;
    background: #444;
}

@keyframes even-flash {
    0%, 100% {
        background: rgba(255,230,65,1);
        box-shadow: 0px 2px 20px 4px rgba(255,230,65,1);
    }
    50% {
        background: rgba(255,230,65,0.5);
        box-shadow: 0px 2px 20px 4px rgba(255,230,65,0.3);
    }
}

@keyframes odd-flash {
    50% {
        background: rgba(255,65,185,1);
        box-shadow: 0px 2px 20px 4px rgba(255,65,185,1);
    }
    0%,100% {
        background: rgba(255,65,185,0.5);
        box-shadow: 0px 2px 20px 4px rgba(255,65,185,0.3);
    }
}

/* heading articles*/

#heading-articles{
    border: 2px solid;
    margin-top: 14% !important;
    margin: 4%;
    margin-bottom: 4%;
    height: 160px;
}

div #heading-articles h1{
    text-align: center;
    line-height: 400%;
}

/* select box articles user*/

div #select-box select{
    width: 50%;
    height: 40px;
    color: #000000 !important;
    border: 1.5px solid black;
    border-radius: 0px;
}

select.form-control:focus{
    box-shadow: inset 0 1px 1px rgba(204, 153, 0, 1),0 0 8px rgba(204, 153, 0, 1);
}

/* show all articles*/

#all-articles{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.list-articles {
  list-style: none;
}

.list-articles a {
  text-decoration: none;
  color: black;
}

.list-item {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 220px;
    height: 350px;
    border-radius: 5px;
}

.unavailable {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    width: 100%;
}

.container img {
    position: relative;
    left: 180px;
    bottom: 32px;
}

/* article details */

.one-article{
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.main-img{
    display: flex;
    justify-content: center;
}

.thumbnails{
    display: flex;
    flex-direction: column;
}

.thumbnails img{
    width: 50%;
}

.product-info{
    letter-spacing: 1.5px;
}

#info{
    border-bottom: 1.5px solid;
    margin-bottom: 2%;
}

.product-info div p{
    font-size: 110%;
    border-bottom: 1.5px solid black;
    padding-bottom: 4%;
}

.product-info div div{
    padding-bottom: 4%;
    padding-left: 0px;
    padding-right: 0px;
}

.sold-out{
    color: #a9a9a9;
}

.add-to-card{
    margin-bottom: 3%;
    border-bottom: 1.5px solid #000000;
    padding-bottom: 2%;
    line-height: 90px;
}

.add-to-card div input{
    width: 50%;
    height: 45px;
    border: 1.5px solid;
    text-align: center;
}

.add-to-card div button{
    width: 100%;
    height: 45px;
    border: 1.5px solid;
    color: white;
    background-color: black;
}

.add-to-card div button:hover{
    background-color: white;
    border: 1.5px solid #cc9900;
    color: #cc9900;
}

/* about page -> list of employees*/

#members{
    margin-left: 50px;
}

figure.member {
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 15px;
    width: 200px;
    color: #000000;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
}
figure.member * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
figure.member img {
    opacity: 1;
    width: 100%;
    height: 200px;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.member:after {
    background: #cc9900;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    opacity: 0.70;
    -webkit-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
figure.member figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
figure.member h3,
figure.member p {
    width: 100%;
    opacity: 0;
}
figure.member h3 {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
}
figure.member p {
    font-size: 18px;
    font-weight: 300;
    padding-right: 100px;
}

figure.member:hover:after,
figure.member.hover:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
figure.member:hover figcaption h3,
figure.member:hover figcaption p{
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
figure.member:hover figcaption h3{
    opacity: 1;
}
figure.member:hover figcaption p{
    opacity: 0.9;
}

/* Footer */

.footer{
    background-color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    color: black;
    border-top-style: solid;
    border-color: black;
    border-width:1.5px;
}

#footer-content{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.footer-center,
.footer-left,
.footer-right{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-center div{
    white-space: nowrap;
}

/* Footer Google Maps */

#map{
    width: 100%;
    height: 350px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
}

.map-icon-label .map-icon {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
}

/* Footer center */

.footer .footer-center i{
    background-color: white;
    font-size: 25px;
    width: 42px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    padding-left: 4px;
}

.footer .footer-center p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: 100;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: black;
    text-decoration: none;
}

.footer .footer-right div a:hover,
.footer .footer-center p a:hover{
    color: #cc9900;
}

/* Footer right*/

.footer .footer-right div a{
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.footer .footer-right div.icons {
    margin-top: 25px;
}

.footer .footer-right .icons .name{
    margin-top: 10px;
}

.footer .footer-right .icons a{
    display: inline-block;
    margin: 0 0 0 5px;
}

.footer .footer-right .icons i {
    background-color: white;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding-left: 4px;
}

/* contact page + part of privacy page + part of site notice page + part of about page*/

#contact,
#privacy,
#sitenotice,
#about,
#agb{
    color: black;
    letter-spacing: 4px;
    width: auto;
    height: auto;
    padding-top: 180px;
    padding-bottom: 20px;
}

#contact h1,
#privacy h1,
#privacy h3,
#sitenotice h1,
#about h1{
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

#privacy p,
#contact h2,
#sitenotice p,
#about p,
#about h2,
#agb h2{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

#about h2{
    font-weight: 300;
    margin-top: 50px;
}

#about #aboutimg{
    width: 100%;
    margin-top: 50px;
}

.about-text{
    margin-left: 150px !important;
    margin-right: 150px !important;
    text-align: center !important;
}

/* contact form */
#contact-form-main{
    width:100%;
    float:left;
    padding-top:0px;
    background:url("http://www.philippefercha.com/img/home-page.jpg") no-repeat;
    background-size: cover;
    height:100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#contact-form-div {
    background: #fff;
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:35px;
    width: 450px;
    float: left;
    left: 52%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
    margin-bottom: 30px;
}

.feedback-input {
    font-weight:100;
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid #000;
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    color: #000;
    outline: none;
    padding: 13px 13px 13px 13px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

#form-button{
    float:left;
    width: 100%;
    border: 0px solid transparent;
    cursor:pointer;
    background-color: #000;
    color:white;
    font-size:18px;
    letter-spacing: 4px;
    padding-top:22px;
    padding-bottom:22px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:300;
}

#form-button:hover{
    background-color: #fff;
    color: #cc9900;
    border: 1px solid #cc9900;
}

/* privacy page + site notice page  */

#privacy p,
#sitenotice p,
#about p{
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

#privacy h3{
   font-size: 22px;
   margin-top: 30px;
}

#sitenotice h4{
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
    margin-left: 50px;
    font-weight: 300;
    margin-bottom: 50px;
}

#sitenotice p{
    padding-bottom: 15px;
    font-size: 16px;
}

#sitenotice h4#advice{
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Media Queries*/

/* hier auf die Breite 375px angepasst (Safari, Firefox) zB iPhone 6, 6s bzw Devices mit 4,7 Zoll */
@media screen and (max-width: 375px) {

    .all-articles{
        margin-top: 100px;
    }

    .product-info{
        font-size: 60%;
        margin-top: 10px;
    }

    #contact,
    #privacy,
    #sitenotice,
    #about,
    #all-articles {
        padding-top: 60px;
    }

    .about-text{
        font-size: 10px!important;
    }

    .dropdown-img{
        display: none;
    }

    #bootstrapOverride  .divider {
        height: 1px;
        width:100%;
        display:block;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .navbar-collapse {
        clear: right;
    }

    img.visible-xs{
        margin: -4px auto !important;
        padding-left: 5px;
    }

    li.visible-xs.pull-left a{
        padding: 8px !important;
    }

    div#map{
        width: auto;
        height: 250px;
    }

    i.fa.fa-map-marker,
    i.fa.fa-phone,
    i.fa.fa-envelope {
        font-size: 15px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        margin: 7px;
    }

    .footer-right div a{
        font-size: 50%;
        letter-spacing: 1.5px;
    }

    div.icons{
        display: flex;
    }

    div.icons p.name {
        font-size: 50% !important;
    }

    i.fa.fa-facebook,
    i.fa.fa-twitter,
    i.fa.fa-instagram{
        font-size: 12px !important;
        width: 26px !important;
        height: 26px !important;
        line-height: 24px !important;
        padding-left: 2px !important;
    }
}

/* hier auf die Breite 920px angepasst (Safari, Firefox) zB iPad mini 4 bzw. Devices mit 7,9 Zoll */
@media (min-width: 376px) and (max-width: 920px){

    .product-info{
        font-size: 65%;
        margin-top: 10px;
    }

    #bootstrapOverride li a {
        padding-left: 10px;
    }

    ul.dropdown-menu div img {
        width: 126px !important;
        height: 150px !important;
    }

    #logoBig{
        width: 34%;
        margin-top: -6px;
    }

    img#menuIconsXL{
        width: 14px;
        height: 14px;
    }

    #search-input{
        width:80%;
    }

    .navbar-nav {
        font-size: 16px;
        margin: 0;
        padding-top: 10px;
    }

    #map{
        width:100%;
    }

    i.fa.fa-map-marker,
    i.fa.fa-phone,
    i.fa.fa-envelope{
        font-size: 18px;
        width: 34px;
        height: 34px;
        line-height: 30px;
        padding-left: 2.5px;
    }

    .footer-center {
        font-size: 12px;
    }


    .footer-right {
        font-size: 9px;
        padding-left: 20px;
    }

    .footer-right div {
        padding-left: 0;
    }

    .footer-right div a{
        letter-spacing: 3px;
    }

    div.icons p.name{
        width: auto !important;
        line-height: 38px;
    }

    i.fa.fa-facebook,
    i.fa.fa-twitter,
    i.fa.fa-instagram{
        font-size: 14px !important;
        width: 28px !important;
        height: 28px !important;
        line-height: 26px !important;
        padding-left: 3px !important;
    }
}

/* hier auf die Breite bis - 1800px angepasst */
@media screen and (min-width: 1500px) and (max-width: 1800px) {

    .navbar-collapse .navbar-nav {
        margin: 0 0 0 8%;
        font-size: 18px;
        white-space: nowrap;
    }

    .navbar-collapse .navbar-nav>li{
        margin: 0 40px;
    }

}

/* hier auf die Breite 1300px - unendlich angepasst */
@media screen and (min-width: 1300px) {
    .navbar-collapse .navbar-nav {
        margin: 0 0 0 8%;
        width: 100%;
        white-space: nowrap;
    }

    .navbar-collapse .navbar-nav>li {
        margin: 0 30px;
    }
}

/* hier auf die Breite 1050 - 1300px angepasst */
@media screen and (min-width: 1050px) and (max-width: 1300px) {

    .navbar-collapse .navbar-nav {
        margin: 0 0 0 3%;
    }

    .navbar-collapse .navbar-nav>li {
        margin: 0 20px;
    }
}

/* hier auf die Breite 1100px angepasst (safari, Firefox) zB iPad Pro bzw Devices mit 1024px Breite*/
@media screen and (min-width: 1100px) and (max-width: 1250px){

    .navbar-collapse .navbar-nav{
        margin: 0;
    }

    .navbar-collapse .navbar-nav>li{
        margin: 0 25px;
    }

    #logoBig {
        padding-top: 10px;
    }

    .footer-center div {
        display: inline-block;
    }
}

@media (min-width: 700px) and (max-width: 900px)  {

    .navbar-collapse .navbar-nav {
        margin: 5px 0px;
        font-size: 16px;
        white-space: nowrap;
        padding-top: 10px;
    }

    .navbar-nav>li {
        margin: 0 8px;
    }

    #search-input{
        width:85%;
    }

    .footer{
        font-size: 86%;
        padding: 40px;
    }

    .footer-right div a {
        width: 100%;
        clear: both;
    }

    .footer .footer-right div.icons {
        display: inline;
        padding-left: 0;
    }

    .footer .footer-right .icons a{
        display: inline;
    }

    #map{
        width: 90%;
        height: 240px;
    }

    .footer .footer-center i{
        font-size: 19px;
        width: 40px;
        height: 38px;
        line-height: 33px;
    }

    .footer .footer-right div a{
        padding: 3px;
    }

    .footer .footer-right .icons .name{
        margin-right: 15px;
    }

    .footer .footer-right .icons i {
        font-size: 12px;
        width: 25px;
        height: 25px;
        line-height: 23px;
    }
}

@media screen and (max-width: 850px) {

    #bootstrapOverride li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-nav>li {
        margin: 0 0px;
    }

    #search-input{
        width:80%;
    }

    .dropdown-toggle {
        padding: 5px;
    }

    .footer .footer-center i{
        font-size: 17px;
        width: 34px;
        height: 34px;
        line-height: 31px;
        margin: 4px;
    }
}
