
.header {
  height: 120px;
  border-bottom: 2px dashed black;
}

.header, .side-nav {
  background-color: #fbfbfb;
}

.header-brand {
  text-align: center;
}

#logo {
   max-height: 120px;
 }

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/*///////////////////////////////
// Styling for Side Navigation //
///////////////////////////////*/

.side-nav {
  position: relative;
  height: 950px;
  text-align: center;
  display: table-caption;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  letter-spacing: 4px;
  font-size: 16px;
}

.side-nav ul li {
  padding: 25px 0px;
  border-bottom: 1px solid #eef1f7;
  position: relative;
  width: 100%;
}

.side-nav:hover {
  color: #c3c3c3;
}

.side-nav ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

.side-nav ul li a:hover {
  color: #cc9900;
}

/*///////////////////////////////
// Styling for mobile navigation //
///////////////////////////////*/

.navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}

.icon-bar {
  color: #222222;
}

.icon-bar:target {
  color: #cc9900;
}

/*///////////////////////////////
// Styling for main-content //
///////////////////////////////*/

.main-content {
  padding: 20px;
  height: 950px;
  position: relative;
  color: #444;
  line-height: 20px;
}

/*///////////////////////////////
// Styling for members //
///////////////////////////////*/

.content-memberButton {
  text-align: right;
}

.table-responsive {
  max-width: 100%;
  margin: auto;
  padding-top: 60px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}


/* main box container */
.main {
  display: flex;
  flex-flow: row wrap;
}

.widget {
  width: 100%;
  height: auto;
  border-radius: 6px;
  position: relative;
}

/* CSS FOR MANAGE ARTICLES */

.article-imgs {
  height: 70px;
  width: 70px;
  padding-left: 10px;
  margin: 0;
  display: flex;
}

.edit{
  padding: 10px;
  width: 25px;
  text-align: center;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.edit:hover,
.remove:hover {
  color: #cc9900;
}

.remove{
  padding: 10px;
  width: 25px;
  text-align: center;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

/* CSS FOR BUTTONS */

.modal-footer-button {
  width: 200px;
}

.newMember {
  margin: 30px 0;
}

.sortGroup {
  text-align: right;
  margin-bottom: 30px;
}

/* Input Field */

.search {
  width: 250px;
  height: 35px;
  border: 1px solid #444444;
  border-radius: 18px;
  margin-bottom: 15px;
  margin-right: 5px;
  padding-right: 10px;
  text-align: right;
  /*background-image: url("../img/lupe.png"); */
  background-repeat: no-repeat;
  /*background-size: cover; */
  background-position: left;
}

.sortButton,
.newArticle,
.newMember,
.modal-footer-button,
.login,
.logout{
  width: 200px;
  padding: 6px 12px;
  border-radius: 0px;
  background-color: black;
  color: white;
  border: 1px solid transparent;
}

.sortButton:hover,
.newArticle:hover,
.newMember:hover,
.modal-footer-button:hover,
.login:hover,
.logout:hover{
  border-color: #cc9900;
  color: #cc9900;
  background-color: white;
}

.sortButton, .newArticle {
  margin: 40px auto 0;
}

.newArticle {
  float: left;
}


/* CSS FOR MODALS */

.modal-content {
  background-color: #fefefe;
  font-family: 'Lato', sans-serif;
  padding: 15px;
}

.modal-header {
  text-align: center;
}

.modal-body {
  position: relative;
  padding: 0 15px;
}

#modalParagraph {
  margin-top: 10px;
}

.addMemberName, .addArticle, .editArticle {
  width: 100%;
  padding-left: 15px;
  font-size: 14px;
  height: 40px;
  border: 2px solid #cacaca;
  margin-right: 10px;
  text-align: left;
  background-color: #f4f4f4;
}

.addMemberName:hover,
.addArticle:hover,
.editArticle:hover {
  border-color: #cc9900;
}

.formModalLabel {
  margin-top: 10px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}
input[disabled="disabled"] {
  opacity: 0.4;
  cursor: not-allowed !important;
}

.content select{
  width: 90%;
  height: 20%;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 250px;
  display: block;
  margin: 15px auto;
}

.content textarea{
  width: 100%;
  padding: 10px 0 10px 15px;
}

.modal-footer {
  text-align: center;
  border: 0;
}

.errorStatus, .errorStatusArt {
  color: red;
  font-weight: 600;
  text-align: center;
}

/* tablet-version */

@media(max-width: 770px) {

  .header .collapse.in {
    height: 250px;
    width: 100%;
  }

  .header .collapse {
    height: 80px;
    border-bottom: 2px dashed black;
  }

  .navbar-collapse{
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-collapse.in {
    display: flex;
    justify-content: center;
  }

  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0;
  }

  .brand {
    position: absolute;
    left: 50%;
    bottom: -10px;
  }

  .side-nav {
    height: auto;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  .side-nav ul {
    margin: 0;
    padding: 5px 0;
    border-bottom-style: none;
  }

  .side-nav ul li {
    padding: 5px 0px;
    border-bottom: none;
  }

  .side-nav ul li i {
    font-size: 18px;
  }

  .side-nav ul li a {
    text-align: center;
    font-size: 17px;
    letter-spacing: 2px;
  }

  .member {
    text-align: right;
    margin: 20px;
  }

  /* CALENDAR STYLING */
  #calendar {
    width: 500px;
    height: 400px;
  }

  .ui-rtsr-unselected {
    color: black;
  }

}


/* mobile version */

@media(max-width: 470px) {

  .header {
    height: 50px;
  }

  .navbar-toggle {
    display: block;
  }

  .brand {
    position: absolute;
    left: 30%;
    bottom: -10px;
  }

  .category {
    display: none;
  }

  .nav a {
    color: black;
    text-align: center;
    font-size: 15px;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ffffff;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: black;
  }

  .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
  }

  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .side-nav ul {
    padding-right: 30px;
  }

  .side-nav ul li a {
    font-size: 18px;
  }

  thead {
    font-size: 16px;
  }

  .search {
    margin: 0;
  }

  .sortButton, .newArticle {
    margin: 16px auto 0;
    text-align: center;
  }

  .sortGroup {
    text-align: center;
  }

  .modal-footer {
    display: flex;
  }

  /* ARTICLE SECTION */

  #calendar {
    width: 500px;
    height: 400px;
  }
}

/*///////////////////////////////
// Styling for login area //
///////////////////////////////

.login {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 20rem;
  height: 20rem;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.login:hover > .login-header, .login.focused > .login-header {
  width: 2rem;
}
.login:hover > .login-header > .text, .login.focused > .login-header > .text {
  font-size: 1rem;
  transform: rotate(-90deg);
}
.login.loading > .login-header {
  width: 20rem;
}
.login.loading > .login-header > .text {
  display: none;
}
.login.loading > .login-header > .loader {
  display: block;
}

.login-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 20rem;
  height: 20rem;
  background: #444444;
  transition: width 0.5s ease-in-out;
}
.login-header > .text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: center;
  line-height: 20rem;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.login-header > .loader {
  display: none;
  position: absolute;
  left: 5rem;
  top: 5rem;
  width: 10rem;
  height: 10rem;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: loading 2s linear infinite;
}
.login-header > .loader:after {
  content: "";
  position: absolute;
  left: 4.5rem;
  top: -0.5rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 50%;
  border-right: 2px solid #444444;
}
.login-header > .loader:before {
  content: "";
  position: absolute;
  left: 4rem;
  top: -0.5rem;
  width: 0;
  height: 0;
  border-right: 1rem solid #fff;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

@keyframes loading {
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-form {
  margin: 0 0 0 2rem;
  padding: 0.5rem;
}

.login-input {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border-color: #ccc;
  border-width: 0 0 2px 0;
}
.login-input + .login-input {
  margin: 10px 0 0;
}
.login-input:focus {
  outline: none;
  border-bottom-color: #444444;
}

.login-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 5rem;
  height: 5rem;
  border: none;
  background: #444444;
  border-radius: 50%;
  font-size: 0;
  border: 0.6rem solid transparent;
  transition: all 0.3s ease-in-out;
}
.login-btn:after {
  content: "";
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  width: 0;
  height: 0;
  border-left: 2.4rem solid #fff;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  transition: border 0.3s ease-in-out 0s;
}
.login-btn:hover, .login-btn:focus, .login-btn:active {
  background: #fff;
  border-color: #444444;
  outline: none;
}
.login-btn:hover:after, .login-btn:focus:after, .login-btn:active:after {
  border-left-color: #444444;
}

/*Test*/
.thumb {
    width: 110px;
    height: 80px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
