

.header {
  height: 80px;
  border-bottom: 2px dashed black;
}


/*///////////////////////////////
// Styling for Side Navigation //
///////////////////////////////*/

.side-nav {
  position: relative;
  height: 100%;
  width: 180px;
  float: left;
}


.side-nav.visible {
  display: block;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  letter-spacing: 2px;
}

.side-nav ul li {
  padding: 25px 10px;
  border-bottom: 1px solid #eef1f7;
  position: relative;
}

.side-nav ul li span i:hover{
  color: #cc9900;
}

.side-nav ul li.active:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.side-nav ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

.side-nav ul li i {
  color: black;
  min-width: 20px;
  text-align: center;
  margin-left: 5px;
}

.side-nav ul li span:nth-child(2) {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

.nav {
  margin: 10px 0 0 25px;
}

/*///////////////////////////////
// Styling for mobile navigation //
///////////////////////////////*/

.navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}

.icon-bar {
  color: #222222;
}

.icon-bar:target {
  color: #cc9900;
}

/*///////////////////////////////
// Styling for main-content //
///////////////////////////////*/

.main-content {
  padding: 10px 10px 10px 0;
  height: 1056px;
  position: relative;
  margin-left: 190px;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}



/*///////////////////////////////
// Styling for articles //
///////////////////////////////*/

#newArticle {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

#newArticle:hover {
  color: #cc9900;
}

/*///////////////////////////////
// Styling for members //
///////////////////////////////*/

#member {
  text-align: right;
}

.table-responsive {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}


/*///////////////////////////////
// Styling for tablet version //
///////////////////////////////*/

@media(max-width: 1000px) {

  .side-nav {
    display: block;
    width: 140px;
  }

  .side-nav ul li span:nth-child(2) {
    display: none;
  }

  .side-nav ul li a {
    text-align: center;
  }
  .main-content {
    margin-left: 70px;
  }
}


/* main box container */
.main {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}
.widget {
  width: 100%;
  height: auto;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}


input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}
input[disabled="disabled"] {
  opacity: 0.4;
  cursor: not-allowed !important;
}

.content select{
  width: 90%;
  height: 20%;
  margin: 10px 0;
}


.content input[type="submit"]:last-child{
  width: 250px;
  display: block;
  margin: 15px auto;
}



.content textarea{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}


/* CSS FOR MANAGE ARTICLES */

.article-imgs {
  height: 70px;
  width: 70px;
  padding-left: 10px;
  margin: 0;
  display: flex;
}

.edit{
  padding: 10px;
  width: 25px;
  text-align: center;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.edit:hover,
.remove:hover {
  color: #cc9900;
}

.remove{
  padding: 10px;
  width: 25px;
  text-align: center;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}



/* CSS FOR MODALS */


.modal-header {
  text-align: center;
}


#search {
  position: relative;
  text-align: left;
  margin-left: 20px;
  display: inline-block;
}

#sort {
  text-align: right;
  margin: 0 20px 40px 0;
}

.sortButton,
.newArticle {
  width: 200px;
  height: 40px;
  background-color: white;
  color: black;
  border-color: black;
  border-width: 1px;
  margin: 40px auto 0;
}

.content input{
  width: 250px;
  padding: 5px 5px;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 20px;
  text-align: left;
}

.btn btn-default {
  padding: 10px 12px;
}

.btn btn-default:hover {
  color: #cc9900;
}

#descr {
  margin-left: 15px;
}

#familyName {
  margin-left: 28px;
}

.errorStatus {
  margin-left: 20%;
  color: red;
}

.errorStatusArt {
  margin-left: 4%;
  color: red;
}

/* tablet-version */

@media(max-width: 800px) {

  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0;
  }

  .brand {
    position: absolute;
    left: 50%;
    bottom: -10px;
  }

  .main-content {
    margin-left: 160px;
  }

  .side-nav {
    width: 170px;
  }

  .side-nav ul li i {
    font-size: 18px;
  }

  .side-nav ul li a {
    text-align: left;
  }

  #member {
    text-align: right;
    margin: 20px;
  }

  .navbar-toggle {
    display: none;
  }

  /* CALENDAR STYLING */
  #calendar {
    width: 500px;
    height: 400px;
  }

  .ui-rtsr-unselected {
    color: black;
  }

}


/* mobile version */

@media(max-width: 470px) {

  .navbar-toggle {
    display: block;
  }

  .brand {
    position: absolute;
    left: 30%;
    bottom: -10px;
  }

  .main-content {
    margin-left: 0;
  }
  .category {
    display: none;
  }

  .nav a {
    color: black;
    text-align: center;
    font-size: 15px;
  }

  .navbar .navbar-collapse{
    width: 100%;
  }

  .navbar-collapse.in {
    overflow-y: hidden;
    padding-top: 40px;
  }

  .navbar .navbar-collapse{
    width: 100%;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ffffff;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: black;
  }

  .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
  }

  .navbar-collapse.in {
    overflow-y: hidden;
  }

  .side-nav {
    display: none;
  }

  thead {
    font-size: 16px;
  }


  .menu {
    padding: 15px;
    list-style: none;
    display: flex;
    background: #eee;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .menu li {
    cursor: pointer;
    height: 120px;
    width: 150px;
    padding-top: 10%;
    margin: 10px 0 0 10px;
    background: #ddd;
    position: relative;
    float: left;
  }

  .menu li:hover,
  .newArticle:hover,
  .sortButton:hover{
    color: #cc9900;
  }

  /* Effect 2a */
  .hovicon.effect-2.sub-a:hover, .hovicon.effect-2.sub-a:hover i {
    color: #eea303;
  }
  .hovicon.effect-2.sub-a:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  #boxOne:hover,
  #boxTwo:hover,
  #boxThree:hover,
  #boxFour:hover{
    border: 2px dashed black;
  }

  /* MEMBER SECTION */

  .table-responsive {
    width: 100%;
  }

  /* ARTICLE SECTION */

  #sort {
    margin: 0 0 40px 0;
    display: flex;
  }

  .sortButton,
  .newArticle {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }

  #calendar {
    width: 500px;
    height: 400px;
  }
}

/* REALLY SMALL MOBILES
@media(max-width: 380px) {

  .menu li {
    height: 80px;
    width: 110px;
    padding-top: 9%;
  }

  #newArticle {
    margin: 40px 0 0 20px;
    display: inline-block;
  }

  #search {
    margin-left: 40px;
    display: inline-block;
  }
}
*/