<div id="about">
    <h1>&Uuml;ber Gute Mine</h1>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <h2>Das Team</h2>

    <div id="members">
        <figure class="member">
            <img src="http://www.stratus.com/assets/sites/3/panel2-img.png"/>
            <figcaption>
                <h3>Jen</h3>
                <p>Developer</p>
            </figcaption>
        </figure>
        <figure class="member">
            <img src="http://www.stratus.com/assets/sites/3/panel2-img.png"/>
            <figcaption>
                <h3>Lauren</h3>
                <p>Developer</p>
            </figcaption>
        </figure>
        <figure class="member">
            <img src="http://www.stratus.com/assets/sites/3/panel2-img.png"/>
            <figcaption>
                <h3>Kathleen</h3>
                <p>Developer</p>
            </figcaption>
        </figure>
        <figure class="member">
            <img src="http://www.stratus.com/assets/sites/3/panel2-img.png"/>
            <figcaption>
                <h3>Jule</h3>
                <p>Developer</p>
            </figcaption>
        </figure>
        <figure class="member">
            <img src="http://www.stratus.com/assets/sites/3/panel2-img.png"/>
            <figcaption>
                <h3>Anna-Lisa</h3>
                <p>Product Owner</p>
            </figcaption>
        </figure>
    </div>

    <img src="content/img/aboutimg.jpg" id="aboutimg">

    <h2>Was uns auszeichnet</h2>

    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</div>