<div id="about">
    <content-section about-section container-fluid>
        <h1>&Uuml;ber Gute Mine</h1>
        <p class="about-text">
            Seit über 30 Jahren steht für uns die Beratung für ein besonderes Schreiberlebnis mit stilvoll, hochwertigen Schreibprodukten im Fokus.
            Unsere Leidenschaft zur gehobenen Schreibkultur und elegant gestalteter Geschenke soll unsere Kunden begeistern und die Leidenschaft fürs Kreative wieder entfachen. <br>

            Heutzutage ist die meiste Post elektronischer Natur, Sie erhalten täglich mehr Emails und SMS als Karten und Briefe: Doch bei dem Empfänger löst nichts so viel echte Begeisterung und Wertschätzung aus als ein handgeschriebener Brief, eine selbsterstellte Grußkarte oder eine andere persönliche Nachricht. <br>
            Damit das Verfassen von Briefen nicht nur dem Adressaten, sondern auch bei dem Adressant Spaß hervor hebt, lohnt sich die Investition in edle Schreibwaren wie feines Briefpapier, gefütterte Briefumschläge oder einen exklusiven Füllfederhalter, mit dem das Schönschreiben wie von selbst gelingt.
            Auch als ganz persönliches Geschenk sind hochwertige Schreibartikel wie exklusive Schreibgeräte, in Leder gebundene Tagebücher oder hochwertige Schreibetuits eine ausgezeichnete Wahl. Lassen Sie sich online inspirieren, wie Sie Ihren Lieben oder natürlich auch sich selbst mit dem passenden Schreibzubehör eine ganz besondere Freude bereiten können.
            Oder schauen Sie direkt in unserem Geschäft vorbei und lassen sich ganz persönlich von unserem gut geschultem Team beraten.
            Vom Schönschreibfüller-Set bis zum eleganten Terminplaner bieten wir Ihnen eine ausgewählte Auslese der exklusivsten Schreibwaren von namenhaften Marken wie Moleskin, Filofax und weiteren an.
        </p>
    </content-section>

    <content-section team-section container-fluid>
        <h2>Das Team</h2>

        <div id="members" class="row">
            <figure class="member">
                <img src="content/img/about_images/jen.jpg"/>
                <figcaption>
                    <h3>Jen</h3>
                    <p>Developer</p>
                </figcaption>
            </figure>
            <figure class="member">
                <img src="content/img/about_images/lauren.jpg"/>
                <figcaption>
                    <h3>Lauren</h3>
                    <p>Developer</p>
                </figcaption>
            </figure>
            <figure class="member">
                <img src="content/img/about_images/kate.jpg"/>
                <figcaption>
                    <h3>Kathleen</h3>
                    <p>Developer</p>
                </figcaption>
            </figure>
            <figure class="member">
                <img src="content/img/about_images/jule.jpg"/>
                <figcaption>
                    <h3>Jule</h3>
                    <p>Developer</p>
                </figcaption>
            </figure>
            <figure class="member">
                <img src="content/img/about_images/annalisa.jpg"/>
                <figcaption>
                    <h3>Anna-Lisa</h3>
                    <p>Product Owner</p>
                </figcaption>
            </figure>
        </div>
    </content-section>

    <content-section img-section container-fluid>
        <img src="content/img/aboutimg.jpg" id="aboutimg">
    </content-section>

    <content-section reference-section container-fluid>
        <h2>Was uns auszeichnet</h2>
        <p class="about-text">
            Wir bieten Ihnen in einem besonderen Ambiente, durch unsere längjährige Erfahrungen <br>
            guten Service und ein ausgewähltes Angebot limitierter Schreibgeräte von exklusiven Marken an.
        </p>
    </content-section>

</div>
