<head>
  <link href="content/css/stylesAdmin.css" rel="stylesheet" type="text/css" />
  <link href="content/css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>


<!-- sidebar and menu -->
<div class="admin-page">
  <div class="header">
    <div class="header-brand">
      <img class="hidden-xs" id="logo" src="content/img/logoGM.png" alt="Gute Mine logo">
    </div>
    <!--<div>
      <button type="button" class="pull-right logout" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      </button>
    </div>-->
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <!--<div class="navbar navbar-fixed-top navbar-absolute"> -->
    <div class="collapse navbar-collapse col-md-2 col-sm-2" uib-collapse="isNavCollapsed">
      <div class="side-nav">
        <ul class="nav navbar-nav">
          <li><a ui-sref="private.admin.dashboard">Home</a></li>
          <li><a ui-sref="private.admin.inventory">Inventar</a></li>
          <li><a ui-sref="private.admin.member">Mitarbeiter</a></li>
        </ul>
      </div>
    </div>
  </div>



  <!-- Content of page starts -->
  <div class="main-content col-md-10 col-sm-10">
    <div class="main">
      <div class="widget">
          <div autoscroll="true" ui-view>

          </div>
      </div>
    </div>
  </div>
</div>
