<div class="content">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Neuer Artikel</h3>
  </div>
  <div class="modal-body" id="modal-body">

    <form name="addArticleForm" novalidate>

      <label class="formModalLabel">Name</label>
      <input type="text" class="addArticle" name="name" ng-model="newArticle.name" ng-required="true" />
      <div class="errorStatusArt" ng-show="addArticleForm.name.$touched && addArticleForm.name.$invalid">
        <small> Gültigen Namen eingeben </small>
      </div>

      <label class="formModalLabel">Oberkategorie</label>
      <select name="category" class="addArticle" ng-model="newArticle.category"
      ng-options="category for category in categories" ng-change="getSubCategories()" ng-required="true">
        <option value="">Kategorie wählen</option>
      </select>
      <div class="errorStatusArt" ng-show="addArticleForm.category.$touched && addArticleForm.category.$invalid">
        <small> Gültige Kategorie eingeben </small>
      </div>

      <label class="formModalLabel">Unterkategorie</label>
      <select name="subcategory" class="addArticle" ng-model="newArticle.subcategory"
      ng-options="subcategory for subcategory in subcategories" ng-required="true">
        <option value="">Unterkategorie wählen</option>
      </select>
      <div class="errorStatusArt" ng-show="addArticleForm.subcategory.$touched && addArticleForm.subcategory.$invalid">
        <small> Gültige Kategorie eingeben </small>
      </div>

      <label class="formModalLabel">Preis</label>
      <input type="text" class="addArticle" name="price" ng-model="newArticle.price" ng-required="true" />
      <div class="errorStatusArt" ng-show="addArticleForm.price.$touched && addArticleForm.price.$invalid">
        <small> Gültigen Preis eingeben </small>
      </div>

      <label class="formModalLabel">Beschreibung</label>
      <textarea id="descr" name="description" ng-model="newArticle.description" ng-required="true" ></textarea>
      <div class="errorStatusArt" ng-show="addArticleForm.description.$touched && addArticleForm.description.$invalid">
        <small> Gültige Beschreibung eingeben </small>
      </div>

      <label class="formModalLabel">Menge</label>
      <input type="number" min="1" class="addArticle" name="quantity" ng-model="newArticle.quantity" ng-required="true" />
      <div class="errorStatusArt" ng-show="addArticleForm.quantity.$touched && addArticleForm.quantity.$invalid">
        <small> Gültige Menge eingeben </small>
      </div>
      <!-- <input type="file" placeholder="Bild" ng-model="newArticle.thumb" /> -->
      <!-- <input type="file" ngf-select ng-model="artThumb" name="thumb"
             accept="image/*" ngf-max-size="2MB"
             ngf-model-invalid="errorFile">
      <img ng-show="addArticleForm.thumb.$valid" ngf-thumbnail="artThumb" class="thumb"> -->
      <!-- <span class="progress" ng-show="artThumb.progress >= 0">
        <div style="width:{{artThumb.progress}}%"
            ng-bind="artThumb.progress + '%'"></div>
      </span>
      <span ng-show="artThumb.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span> -->
    </form>
      <div uib-alert class="alert-success" ng-if="showAlert">Artikel erfolgreich hinzugefügt</div>
  </div>
  <div class="modal-footer">
    <button class="btn modal-footer-button" type="button" ng-click="create();ok();" ng-disabled="addArticleForm.$invalid">Artikel hinzufügen</button>
    <button class="btn modal-footer-button" type="button" ng-click="cancel()">Schließen</button>
  </div>
</div>
