<div class="content">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Neuen Mitarbeiter hinzufügen</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <form name="addMemberForm" novalidate>
            <p id="modalParagraph">Bitte geben Sie den vollständigen Vor- und Nachnamen ein und bestätigen Sie den Eintrag um einen Mitarbeiter hinzuzufügen.</p>

            <label class="formModalLabel">Vorname</label>
            <input class="addMemberName" type="text" name="firstname" ng-model="newMember.firstname" ng-required="true"/>
            <div class="errorStatus" ng-show="addMemberForm.firstname.$touched && addMemberForm.firstname.$invalid">
                <small> Gültigen Vornamen eingeben </small>
            </div>

            <label class="formModalLabel">Nachname</label>
            <input type="text" class="addMemberName" name="lastname" ng-model="newMember.lastname" ng-change="createAddress()" ng-required="true"/>
            <div class="errorStatus" ng-show="addMemberForm.lastname.$touched && addMemberForm.lastname.$invalid">
                <small> Gültigen Nachnamen eingeben </small>
            </div>

            <p class="newEmail">
              {{newMember.email}}
            </p>

            <label class="formModalLabel">Für Herrn Yavuz</label>
            <input type="text" class="addMemberName" name="email" ng-model="newMember.testMail" ng-required="true"/>
            <div class="errorStatus" ng-show="addMemberForm.email.$touched && addMemberForm.email.$invalid">
                <small> Gültige Email eingeben </small>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn modal-footer-button" type="button" ng-click="sendMail();ok()" ng-disabled="addMemberForm.$invalid">Mitarbeiter hinzufügen</button>
        <button class="btn modal-footer-button" type="button" ng-click="cancel()">Schließen</button>
    </div>..
</div>
