<div>

  <div id="heading-articles" class="container-fluid">

    <h1>Kategorie</h1>

  </div>

  <div class="container-fluid" style="margin-bottom: 2%;">
    <div class="row">

      <div class="col-md-2" id="breadcrumbs">

      </div>

      <div class="col-md-10">
        <div class="col-md-6" id="price-range">

        </div>

        <div class="col-md-6" id="select-box">
          <select ng-model="order" ng-show="inventory.length > 0" class="form-control">
            <option value="" disabled selected>Sortieren nach...</option>
            <option value="price">Preis aufsteigend</option>
            <option value="-price">Preis absteigend</option>
          </select>
        </div>

      </div>

    </div>
  </div>

  <div id="all-articles">

    <ul class="list-articles">
    <li ng-repeat="article in inventory | orderBy: order"
        ng-show="article.thumb" ng-class="{'unavailable': !article.quantity}" class="list-item">
    <a ui-sref="public.site.details({id: article.id})">
      <div class="card">
        <img ng-src="{{article.thumb}}" alt="Artikel" style="width:220px; height:250px;"/>
        <div class="container">
          <h4><b>{{article.name}}</b></h4>
          <p style="color:#cc9900;">{{article.price | currency: '€'}}</p>
          <p ng-if="!article.quantity">Ausverkauft</p>
          <a ui-sref="" ng-if="article.quantity"><img src="content/img/shopping-bag.png" style="width:20px; height:20px;" alt="Sofortkauf"></a>
        </div>
      </div>
    </a>
    </li>
    </ul>

  </div>

</div>