<div ng-controller="SliderCtrl">

   <!-- <slider slides="slides"></slider> -->

    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" no-pause="noPauseSlide" style="margin-top: 10%;">
        <div uib-slide ng-repeat="slide in slides" index="$index">
            <img ng-src="{{slide.image}}" style="width: 100%;">
        </div>
    </div>

    <div class="startpage-content container-fluid" style="margin-top: 2%;">
        <div class="container-fluid" style="margin-bottom: 20px;">
            <h3>Unsere Besten</h3>
        </div>

        <div class="content-img row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="content/img/Artikelbilder/Papeterie_Poster_Hase_1.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="content/img/Artikelbilder/Papeterie_Poster_Touch_of_gold_1.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="content/img/Artikelbilder/Papeterie_Poster_Pink_Bouquet_1.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <img src="content/img/Artikelbilder/Papeterie_Poster_Forest_1.jpg">
            </div>
        </div>
    </div>

    <div class="startpage-content container-fluid">
        <div>
            <h3>Wer wir sind?</h3>
        </div>

        <div>
            <p>
                GuteMine ist ein traditionelles Schreibwarengeschäft,
                <br>
                dass mit qualitativ hochwertigen Produkten und jahrerlanger Erfahrung im Service die Leidenschaft
                für das Kreative in Ihren Kunden wecken möchte.
            </p>
        </div>

        <a class="btn btn-default" ui-sref="public.site.about">Mehr</a>
    </div>

</div>