<head>
  <link href="content/css/normalize.css" rel="stylesheet" type="text/css" />
	<link href="content/css/stylesWebsite.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

	<nav id="bootstrapOverride" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<ul id="wire">
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
					 <li></li>
		</ul>
		<div class="container-fluid">
			<img class="hidden-xs" id="logoBig" ui-sref="public.site.startpage" src="content/img/logoGM.png" width="304" height="236" alt="Gute Mine logo">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" ui-sref="public.site.startpage">
					<img class="visible-xs" src="content/img/logoGM.png" width="210" height="60" alt="">
				</a>
			</div>
			<div class="navbar-header pull-right">
				<ul class="nav pull-left" id="menuIconsXS">
					<li class="visible-xs pull-left"><a ui-sref=""><img src="content/img/lupe.png" width="17" height="17" alt="Suche"></a></li>
					<li class="visible-xs pull-left"><a ui-sref=""><img src="content/img/shopping-bag.png" width="20" height="20" alt="Warenkorb"></a></li>
				</ul>
				<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
				<ul class="nav navbar-nav" ng-controller="CategoryCtrl">
					<li><a ui-sref="">Neu</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" ui-sref="public.site.articles" ng-click="categoryFilter.category='Papier'">Papier</a>
						<ul class="dropdown-menu" role="menu">
							<div>
								<img class="dropdown-img" src="content/img/cards.jpeg"/>
							</div>
							<div class="dd-list-item-container">
								<li><a ui-sref="">Karten</a></li>
								<li><a ui-sref="">Bücher</a></li>
								<li><a ui-sref="">Notizhefte</a></li>
								<li><a ui-sref="">Papier</a></li>
							</div>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" ui-sref="">Stifte</a>
						<ul class="dropdown-menu" role="menu">
							<div>
								<img class="dropdown-img" src="content/img/pencils.png"/>
							</div>
							<div class="dd-list-item-container">
								<li><a ui-sref="">Kugelschreiber</a></li>
								<li><a ui-sref="">Füller</a></li>
								<li><a ui-sref="">Bleistifte</a></li>
								<li><a ui-sref="">Filzstifte</a></li>
							</div>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" ui-sref="">Technik</a>
						<ul class="dropdown-menu" role="menu">
							<div>
								<img class="dropdown-img" src="content/img/cards.jpeg"/>
							</div>
							<div class="dd-list-item-container">
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
							</div>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" ui-sref="">Zubehör</a>
						<ul class="dropdown-menu" role="menu">
							<div>
								<img class="dropdown-img" src="content/img/accessories.png"/>
							</div>
							<div class="dd-list-item-container">
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
							</div>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" ui-sref="">Geschenke</a>
						<ul class="dropdown-menu" role="menu">
							<div>
								<img class="dropdown-img" src="content/img/presents.png"/>
							</div>
							<div class="dd-list-item-container">
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
								<li><a ui-sref="">...</a></li>
							</div>
						</ul>
					</li>

					<li class="hidden-xs"><a ui-sref="">|</a></li>
					<li class="dropdown hidden-xs">
						<a class="dropdown-toggle" data-toggle="dropdown" ui-sref=""><img src="content/img/lupe.png" class="menuIconsXL" width="17" height="17" alt="Suche">   Suche</a>
						<div class="dropdown-menu">
							<form class="navbar-form">
								<div class="form-group">
									<input id="search-input" type="text" class="form-control" placeholder="Nach Artikel suchen...">
									<button type="submit" class="btn btn-default">Los!</button>
								</div>
							</form>
						</div>
					</li>
					<!-- <input type="text" ng-model="search" placeholder="Nach Artikel suchen" /> -->
					<li class="hidden-xs"><a ui-sref=""><img src="content/img/shopping-bag.png" class="menuIconsXL" width="20" height="20" alt="Warenkorb">   Warenkorb</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div ui-view></div>


<div class="footer">
    <div class="footer-left col-sm-4 col-xs-12">
        <div ng-controller="MapController">
            <div id="map">

            </div>
        </div>
    </div>
    <div class="footer-center col-sm-4 col-xs-12">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Jungstr. 12</span> Berlin, Deutschland</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p> 030 578 666 43</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> office@gutemine.com</a></p>
        </div>
    </div>
    <div class="footer-right col-sm-4 col-xs-12">
        <div class="col-xs-12 col-sm-12">
            <a class="col-xs-3 col-sm-12" ui-sref="">Bezahlung</a>
            <a class="col-xs-3 col-sm-12" ui-sref="">AGB</a>
			<a class="col-xs-3 col-sm-12" ui-sref="public.site.contact">Kontakt</a>
            <a class="col-xs-3 col-sm-12" ui-sref="">Stornierung & Umtausch</a>
        </div>
        <div class="col-xs-12 col-sm-12">
            <a class="col-xs-3 col-sm-12" ui-sref="public.site.about">Über Gute Mine</a>
            <a class="col-xs-3 col-sm-12" ui-sref="">Datenschutz</a>
            <a class="col-xs-3 col-sm-12" ui-sref="public.site.sitenotice">Impressum</a>
            <a class="col-xs-3 col-sm-12" ui-sref="public.site.privacy">Versand & Lieferung</a>
        </div>
        <div class="icons col-xs-12">
            <p class="name"> Gute Mine &copy; 2016</p>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
    </div>
</div>
