.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }

.hidden-xs {
  display: block;
  margin: -20px auto;
  margin-bottom: -30px;
  width: 40%;
  max-width: 100%;
  height:auto;
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: -3px;
        margin-left: 5px;
    }
}
