.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#bootstrapOverride {
  /*background-image: url(https://daks2k3a4ib2z.cloudfront.net/57289665989457a16b40023a/57289665989457a16b400261_noise.png);*/
  background-color: white;
  /*border-top: 2px dashed black;*/
  border-bottom: 2px dashed black;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

#bootstrapOverride body {
  padding-top: 120px;
}

#bootstrapOverride li a:hover {
  color: #cc9900;
}

#bootstrapOverride li a {
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

#bootstrapOverride .pull-left ul {
  display: inline;
}


div ul {
  padding-bottom: -30px;
  margin-bottom: -20px;
}

.horizontal-collapse {
    height: 70px;
  }

.navbar-collapse.in {
    overflow-y: hidden;
  }

  .hidden-xs {
    display: block;
    margin: -20px auto;
    margin-bottom: -30px;
    width: 40%;
    max-width: 100%;
    height:auto;
  }

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: -3px;
        margin-left: 5px;
    }

    #bootstrapOverride  .divider {
      height: 1px;
      width:100%;
      display:block; /* for use on default inline elements like span */
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
